# Exclude by default
*
# Backend
!backend/src
!backend/package.json
!backend/package-lock.json
!backend/tsconfig.json
!backend/dev_data
# Frontend
!frontend/public
!frontend/src
!frontend/package.json
!frontend/yarn.lock
!frontend/tsconfig.json
!frontend/nginx-local.conf
# Lib
!lib/src
!lib/package.json
!lib/package-lock.json
!lib/tsconfig.json
