* {
    background-color: #E1D8CA;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    font-size: 40px;
}
.header div {
    margin: 2px;
}
.header .header-buttons {
    margin-left: auto;
}

.horizontal-line {
    content: ' ';
    display: block;
    border: 1px solid black;
}

.content {
    display: flex;
    flex-grow: 1;
    gap: 0%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-right: 1px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
}

.product {
    margin: 5px;
    border: 1px solid black;
    padding: 164px 0 4px 4px;
    width: 200px;
}

.footer {
    padding: 10px 0 10px 0;
    width: 100%;
}
.footer span {
    margin: 10px;
}
