// Import predefined colors
@import '../node_modules/@materializecss/materialize/sass/components/color-variables';

// Customize materialize theme.
$primary-color: color("blue-grey", "darken-2");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("orange", "darken-1");
$success-color: color("green", "base");
$error-color: color("red", "base");

$link-color: color("light-blue", "darken-1");

@import '../node_modules/@materializecss/materialize/sass/materialize.scss';
