// Import predefined colors
@import 'materialize-css/sass/components/color-variables';

// Customize materialize theme.
$primary-color: color("blue-grey", "darken-2");
$primary-color-light: false;
$primary-color-dark: false;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("orange", "darken-1");
$success-color: color("green", "base");
$error-color: color("red", "base");

$link-color: color("light-blue", "darken-1");

@import 'materialize-css';

// Fix and additions to materialize.

// Add outlined button.
.btn-outlined {
  @extend .btn-flat;
  padding: $button-padding;
  border: 1.5px solid color("grey", "lighten-1");
  //center text
  // a) horizontally
  text-align: center;
  // b) vertically
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Fix modal-footer button margin.
.modal .modal-footer .btn,
.modal .modal-footer .btn-flat {
  margin-right: 8px;
}

// Also allow buttons on navbar.
nav ul btn {
  @extend a;
}

.fillw {
  width: 100%;
}

.fillh {
  height: 100%;
}
